<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>员工关系管理</title>
    <!--    vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>-->
    <!--  element-ui-->

    <script src="https://cdn.jsdelivr.net/npm/element-ui@2.15.14/lib/index.min.js"></script>
    <link href="https://cd.jsdelivr.net/npm/element-ui@2.15.14/lib/theme-chalk/index.min.css" rel="stylesheet">
    <!--   axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.5/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-button circle="true" type="success">按钮</el-button>
</div>
<script>
    // Vue 实例
    new Vue({
        el: '#app'
    });
</script>
</body>

</html>